################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Delegates_Events/Delegates_Events_Sln/.vs/ProjectEvaluation
/Delegates_Events/Delegates_Events_Sln/.vs/Delegates_Events_Sln/FileContentIndex
/Delegates_Events/Delegates_Events_Sln/.vs/Delegates_Events_Sln/v17/.futdcache.v1
/Delegates_Events/Delegates_Events_Sln/.vs/Delegates_Events_Sln/v17/.suo
