################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Delegates_Events/Delegates_Events_Sln/.vs/ProjectEvaluation
